/* Página Nosotros */
.nosotros-page {
    background-color: #f3f4f6; /* Fondo gris claro */
    padding-top: 100px;
  }
  
  .nosotros-page h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .nosotros-page p {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .about-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-section h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .about-section p {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .about-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .about-section ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .about-section ul li::before {
    content: '•';
    color: #007bff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .about-section {
      flex-direction: column;
      text-align: center;
    }
  
    .about-image {
      margin-bottom: 20px;
    }
  }
  